# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django static files
staticfiles/
static/

# Django log files
*.log
django.log

# Local environment files
.env
.env.*
!env.example

# Database
db.sqlite3

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Mac/Windows system files
.DS_Store
Thumbs.db
